/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #222;
}

h1, h2 ,h3{
  color: #f4f4f4;

}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
}

/* Utility Classes */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Grid Styles */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-content: center;
}

/* Responsive Breakpoints */
@media (max-width: 768px) {
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
}
